{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
  {% include "resource/breadcrumb_base.html" %}
  <li>
    <strong>{{ resource.title_overflow }}</strong>
  </li>
  <li>
    <strong>Mettre à jour le répertoire de données</strong>
  </li>
</ol>
{% endblock breadcrumb_content %}

{% block main_content %}
<form method="post" action="{% url 'idgo_store:update_resource_store_upload' dataset_id=dataset.id resource_id=resource.id %}" enctype="multipart/form-data" class="well">
  {% csrf_token %}
  {% bootstrap_field form.file_path %}
  <div class="buttons-on-the-right-side">
    <a class="btn btn-default" href="{% url 'idgo_admin:dataset' %}?id={{ dataset.id }}#resources">Annuler</a>
    <button type="submit" class="btn btn-primary">Envoyer le fichier</button>
  </div>
  <hr />
  <small>* Seuls les fichiers suivants sont acceptés : <strong>{{ extensions|join:"</strong>, <strong>" }}</strong>.</small>
</form>
{% endblock main_content %}
