{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
  {% include "resource/breadcrumb_base.html" %}
  <li class="active">
    Nouveau répertoire de données
  </li>
</ol>
{% endblock breadcrumb_content %}

{% block main_content %}
{% include "idgo_admin/alert_messages.html" %}
<form method="post" action="{% url 'idgo_store:emit_resource_store_ftp' dataset_id=dataset.id %}" enctype="multipart/form-data" class="well">
  {% csrf_token %}
  <br />
  <div class="row">
    <div class="col-md-10">
      {% bootstrap_field form.file_path %}
    </div>
  </div>
  <br />
  <div class="buttons-on-the-right-side">
    <a class="btn btn-default" href="{% url 'idgo_admin:dataset' %}?id={{ dataset.id }}#resources">Annuler</a>
    <button type="submit" class="btn btn-primary">Envoyer le fichier</button>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-10">
      <small>* Seuls les fichiers suivants sont acceptés : <strong>{{ extensions|join:"</strong>, <strong>" }}</strong>.</small>
    </div>
  </div>
</form>
{% endblock main_content %}