{% load resource_extras %}

<h4>URL vers l'API JSON offrant la liste complète des données du répertoire :</h4>
<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <th style="width: 0">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
      </th>
      <td>
        <a href="{% url 'idgo_store:directory_storage' dataset_id=dataset.pk resource_id=resource.pk %}" target="_blank">
          http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'idgo_store:directory_storage' dataset_id=dataset.pk resource_id=resource.pk %}</a>
      </td>
    </tr>
  </tbody>
</table>
<br />
<h4>Liste des fichiers disponibles :</h4>
<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <tbody>
      <tr>
        <th style="width: 0">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </th>
        <th>URL</th>
        <th>Type MIME</th>
        <th>Taille</th>
      </tr>{% for file in files %}
      <tr>
        <th scope="row" style="text-align: center;">{{ forloop.counter }}</th>
        <td>
          <a href="{% url 'idgo_store:directory_storage_glob' dataset_id=dataset.pk resource_id=resource.pk glob_path=file.path %}">
            http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'idgo_store:directory_storage_glob' dataset_id=dataset.pk resource_id=resource.pk glob_path=file.path %}
          </a>
        </td>
        <td>
          {{ file.content_type }}
        </td>
        <td>
          {{ file.size|format_bytes }}
        </td>
      </tr>{% endfor %}
    </tbody>
  </table>
</div>
